.navbar-brand{
    flex-grow: 1;
}

.navbar-collapse{
   flex-grow: 0;
}

nav ul .nav-link{
    color: white!important;
    font-weight: bold;
    margin-left: 10px!important;
    padding-left: 15px!important;
}

nav ul .nav-link:hover{
    background: rgb(168, 31, 31);
    border-radius: 5px;
}

.header1{
    min-width: 100%;
    background: #E84848;
}

.d-block{
    margin: 0 auto;
    width: 90%;
}

h1{
    font-weight: bold;
    font-size: 70px
}

.header-2 p{
    font-size: 25px
}

h1, p{
    text-align: center;
    color: white;
}

.header-2{
    background: #B03838;
}

.pt{
    padding: 50px 0;
    text-align: center;
}

.full-w-1{
    background: #202020;
}

.full-w-1 h2{
    color: white;
    font-size: 50px;
}

.full-w-1 p{
    color: rgb(184, 37, 0);
    padding-bottom: 30px;
    font-size: 20px;
}

.creative .creative-item h3{
    color: white;
    padding-top: 10px;
}


/* Команда */
.team{
    background: #68B870;
}

.team h2{
    color: white;
    font-size: 50px;
}

.team p{
    color: black;
}

.team .team-item{
    padding-top: 10px;
    margin: 30px;
}

.team .card-col{
 
}

.team .btn{
    background:#68B870;
    border: none;
    width: 100%
}

.card-img-top{
    border-radius: 50%;
    border: 10px solid #72cd79;
}

.carusel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}